#button1{
    background-color: black;
    height: 50px;
    width: 65px;
    border-radius: 20px;
    border: 5px solid black;
    font-style: italic;
    color: white;
}
#button2{
    background-color: cyan;
    height: 50px;
    width: 65px;
    border-radius: 20px;
    border: 5px solid black;
    font-style: italic;
}
body{
    margin: 140px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
}
#header{
    background-color: cyan;
    color: black;
    text-align: center;
    padding: 15px;
}
.sidebar{
    width: 100px;
    background: black;
    color: white;
    height: 100vh;
    padding: 15px;
    position: fixed;
    left: 0;
    top: 0;
}
.sidebar a{
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
}
.siderbar a:hover{
    background: cyan;
}
h2,h3,p{
    text-align: center;

}
.square{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    background-image: url(pizza.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.square2{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    background-image: url(bownie.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.square1{
    width: 400px;
    height: 100px;
    border: 2px solid black;
    background-image: url(paneer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.container {
    display: flex;
    flex-direction: column; 
    align-items: center;   
    gap: 20px;            
    margin-top: 50px;
}

